<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Test">
        <classes>
            <class name="com.example.LoginTest"/>
            <class name="com.example.CadastroClienteTest"/>
            <class name="com.example.TransacaoTest"/>
        </classes>
    </test>
</suite>